@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Expanding Cards */

.panel.active {
  flex: 5;
}

.panel.active p {
  opacity: 1;
}

/* Progress Steps */

.circle.active {
  border-color: #3498db;
}

.btn {
  background: #3498db;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
}

/* Rotating Navigation */

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

nav ul li {
  text-transform: uppercase;
  color: #e0e0e0;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

/* Hidden Search */

.search input {
  width: 50px;
  height: 50px;
}

.search button {
  width: 50px;
  height: 50px;
}

.search.active input {
  width: 300px;
}

.search.active button {
  transform: translateX(298px);
}

/* Scroll Animation */

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
}

/* Form Input Wave */

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
